/* 兼容iphone5 */
@media screen and (max-width: 321px) {
    .earnings-wrapper .sheet>ul {
        margin: 0 40px 15px !important
    }
    .date{
        display: inline-block;
        max-width: 140px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden
    }
    .index-wrapper .header img{
        width:50px !important;
        height:50px !important;
    }
    .index-wrapper .header .name{
        font-size:18px !important;
        margin-top:0px !important;
    }
    .index-wrapper .header .mobile{
        font-size:14px !important;
        line-height: 16px !important;
    }
}

@media screen and (max-width: 375px) {
    .tab-container .category li{
        margin:0 2px !important
    }
}