@import "./variable.styl"
.dialog-container
    background #fff
    border-radius 8px
    .content 
        height 100px
        line-height 100px
    .buttonGroup
        line-height 50px
        border-top 1px solid #efefef
        color $green
        border-radius 8px