.icon
    background-size 100%

.icon-setting
    background-image url('../svg/setting.svg')
    display block
    width 24px
    height 24px
    margin-right 10px

.icon-link
    background-image url('../svg/arrow.svg')
    display block
    width 16px
    height 16px

.icon-add
    background-image url('../svg/add.svg')
    display block
    width 18px
    height 18px


.icon-minus
    background-image url('../svg/minus.svg')
    display block
    width 18px
    height 18px

.isCheckall .icon-check,
.active.icon-check,
.icon-check
    background-image url('../svg/xz.svg')
    display block
    width 20px
    height 20px
    margin 50px 0 0 10px

.icon-uncheck
    background-image url('../svg/wxz.svg')
    display block
    width 20px
    height 20px
    margin 50px 0 0 10px

.icon-checkall
    background-image url('../svg/xz.svg')
    display block
    width 20px
    height 20px
    margin 0 10px

.icon-uncheckall
    background-image url('../svg/wxz.svg')
    display block
    width 20px
    height 20px
    margin 0 10px

.icon-close
    background-image url('../svg/close.svg')
    display inline-block
    width 20px
    height 20px

.icon-index
    background-image url('../svg/index.svg')
    display block
    width 24px
    height 24px
    margin 0 auto

.router-link-exact-active .icon-index
    background-image url('../svg/indexh.svg')
    display block
    width 24px
    height 24px
    margin 0 auto

.icon-found
    background-image url('../svg/found.svg')
    display block
    width 24px
    height 24px
    margin 0 auto

.router-link-exact-active .icon-found
    background-image url('../svg/foundh.svg')
    display block
    width 24px
    height 24px
    margin 0 auto

.icon-my
    background-image url('../svg/my.svg')
    display block
    width 24px
    height 24px
    margin 0 auto
.router-link-exact-active .icon-my
    background-image url('../svg/myh.svg')
    display block
    width 24px
    height 24px
    margin 0 auto
.icon-cart
    background-image url('../svg/cart.svg')
    display block
    width 24px
    height 24px
    margin 0 auto

.router-link-exact-active .icon-cart
    background-image url('../svg/cart.svg')
    display block
    width 24px
    height 24px
    margin 0 auto

.icon-dingdan
    background-image url('../svg/dingdan.svg')
    display block
    width 20px
    height 20px
    margin-right 15px

.icon-shouyi
    background-image url('../svg/shouyi.svg')
    display block
    width 20px
    height 20px
    margin-right 15px

.icon-renmai
    background-image url('../svg/renmai.svg')
    display block
    width 20px
    height 20px
    margin-right 15px

.icon-code
    background-image url('../svg/erweima.svg')
    display block
    width 20px
    height 20px
    margin-right 15px

.icon-area
    background-image url('../svg/dailiquyu.svg')
    display block
    width 20px
    height 20px
    margin-right 15px

.icon-location
    background-image url('../svg/weizhi.svg')
    display block
    width 16px
    height 20px

.icon-shopcart
    background-image url('../svg/cart.svg')
    display block
    width 20px
    height 20px
    margin 5px auto 0

.icon-car
    background-image url('../svg/che.svg')
    display block
    width 28px
    height 25px

.icon-date
    background-image url('../svg/date.svg')
    display block
    width 24px
    height 21px
    margin 4.5px 0

.icon-download
    background-image url('../svg/xiazai.svg')
    display inline-block
    vertical-align sub
    width 14px
    height 14px
    margin 3px auto 0

.icon-imgcheck
    background-image url('../svg/gou.svg')
    display block
    width 14px
    height 10px
    margin 5px auto

.icon-valid
    background-image url('../svg/disable.svg')
    display block
    width 73px
    height 73px

.icon-slide
    background-image url('../svg/arrow.svg')
    display block
    width 16px
    height 16px
    transform rotate(90deg)

.icon-pinglun
    background-image url('../svg/pinglun.svg')
    display block
    width 17px
    height 15px
    margin-right 10px
.icon-fengxiang
    background-image url('../svg/zhuangfa.svg')
    display block
    width 17px
    height 17px
    margin-top -4px
    margin-right 10px

.icon-dianzan
    background-image url('../svg/dianzan.svg')
    display block
    width 17px
    height 17px
    margin-top -4px
    margin-right 10px

.icon-search
    background-image url('../svg/fangdajing.svg')
    display block
    width 18px
    height 23px

.icon-submit
    background-image url('../svg/jia0.svg')
    display block
    width 20px
    height 20px
    margin 0 auto

.icon-bianji
    background-image url('../svg/bianji.svg')
    display block
    width 20px
    height 20px
    margin-right 26px

.icon-video
    background-image url('../svg/shipin.svg')
    display block
    width 20px
    height 17px
    margin-right 26px

.icon-addImage
    background-image url('../svg/jia.svg')
    display block
    width 26px
    height 26px
    margin 32px auto

.icon-delete
    background-image url('../svg/delete.svg')
    display block
    width 20px
    height 20px

.icon-mobile
    background-image url('../svg/mobile.svg')
    display block
    width 30px
    height 30px

.icon-passwd
    background-image url('../svg/passwd.svg')
    display block
    width 30px
    height 30px

.icon-vip
    background-image url('../svg/vip.svg')
    display block
    width 20px
    height 20px
    margin-right 15px